@import "tailwindcss";

@layer base {
  body {
    /* Menggunakan gray agar lebih aman/standar */
    @apply bg-gray-100 font-sans text-gray-800;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-lg shadow p-4;
  }

  .btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition-colors;
  }
}